/* Menu principal */
.menu {
    position: relative;
    display: inline-block;
    margin: 50px;
}

/* Botão principal */
.dropbtn {
    background-color: #ff5f03d8;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropbtn:hover {
    background-color: #e65500d8;
}

/* Container do dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links do dropdown */
.dropdown-content a,
.submenu-relatorio a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover,
.submenu-relatorio a:hover {
    background-color: #f1f1f1;
}

/* Classe que mostra dropdown ou submenu */
.show {
    display: block;
}

/* Container do item com submenu */
.dropdown-relatorio {
    position: relative;
}

/* Submenu lateral */
.submenu-relatorio {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
